<p>
  Liebe Expertin oder lieber Experte
</p>
<p>
  Es freut uns, dass du bei der Notenkonferenz mit dabei bist. Die unterhalb aufgelisteten Dossiers wurden dir zur Kontrolle zugewiesen. Bitte lade die einzelnen Dossiers mit Hilfe des bekanntgegebenen Passworts herunter. Verifiziere, ob die Bewertung deine Ansicht nach gerechtfertig ist und gebe mit dem zweiten Link eine Rückmeldung. 
</p>
<hr>
<% @verifications.each do |v| %>
<p>
  IPA von <strong><%= v.dossier.candidate.forename %> <%= v.dossier.candidate.surname %></strong> mit Note <strong><%= v.dossier.submitted_mark %></strong>:
  <ul>
    <li>
      <a href="<%= "#{@base_path}/verification/download/#{v.token}"%>">Dossier herunterladen</a>
    </li>
    <li>
      <a href="<%= "#{@base_path}/verification/feedback/#{v.token}"%>">Feedback geben</a>
    </li>
  </ul>
</p>
<hr>
<% end %>
<p>
  Vielen Dank und freundliche Grüsse<br />
  dein IPA Toolkit
</p>